<div class="header">
  <div class="header-top">
    <div class="logo">
      <img src="../../../assets/images/conecta.jpg" alt="" />
    </div>
    <div class="menu">
      <a href="#">Home</a>
      <a href="/sobre-nosotros">Sobre Nosotros</a>
      <a href="/cronicas">Crónicas</a>
      <a href="/contacto">Contacto</a>
      <a href=""
        ><img
          src="../../../assets/icons/search_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg"
          alt=""
      /></a>
    </div>

    <div class="second-menu">
      <a
        href="https://www.instagram.com/conectandorealidades_info?igsh=MXJseWY5c3E3OWo4aQ=="
        target="_blank"
        ><img src="../../../assets/icons/instagram (1).png" alt=""
      /></a>
      <a
        href="https://www.tiktok.com/@conectando.realid?_t=8qci4iZBrOA&_r=1"
        target="_blank"
        ><img src="../../../assets/icons/instagram (2).png" alt=""
      /></a>
      <a href="https://wa.me/584246603778" target="_blank"
        ><img src="../../../assets/icons/instagram (4).png" alt=""
      /></a>
      <a
        href="https://youtube.com/@conectandorealidades?si=Ayg6-A_nIfK-D9y8"
        target="_blank"
        ><img src="../../../assets/icons/instagram (5).png" alt=""
      /></a>
    </div>
  </div>
</div>

<div class="contenido-container">
  <div class="left">
    <!-- Noticia 3 -->
    <img
      src="../../../../assets/imagenesnoticias/four/NOTICIA 4.jpeg"
      alt=""
    />
    <h1>Iniciativa Verde Promueve la Conciencia Ambiental en la Comunidad</h1>
    <p>
      Recientemente, un grupo de voluntarios y miembros de brigadas comunitarias
      llevó a cabo una jornada de cuidado de árboles en las zonas aledañas a una
      institución educativa. La actividad, que abarcó desde la Plaza Astolfo
      Romero hasta la entrada de la Urbanización El Naranjal, tuvo como objetivo
      fomentar la conciencia ambiental y el cuidado del entorno natural.
    </p>
    <p>
      Durante la jornada, los participantes se enfocaron en el cuidado de un
      Baobab africano que fue plantado en una actividad previa. Se brindaron
      orientaciones sobre las mejores prácticas para el mantenimiento de las
      plantas, lo que demuestra un esfuerzo conjunto por parte de la comunidad
      para aprender y aplicar técnicas efectivas de jardinería y conservación.
    </p>
    <p>
      Este tipo de iniciativas refleja un compromiso claro con la sostenibilidad
      y el bienestar del entorno. La participación activa de los voluntarios en
      el riego y cuidado de los árboles no solo contribuye a la preservación del
      medio ambiente, sino que también promueve una cultura de responsabilidad
      ambiental entre los miembros de la comunidad.
    </p>
    <p>
      Acciones como esta son fundamentales para inspirar a otros a involucrarse
      en la protección del medio ambiente y a adoptar prácticas sostenibles en
      su vida diaria. La jornada de cuidado de árboles es un paso hacia un
      futuro más verde y consciente.
    </p>

   
  </div>

  <div class="right">
    <h2>noticias relacionadas</h2>
  </div>
</div>

<app-footer></app-footer>
