<app-header></app-header>
<main>
    <div class="container">
      <div class="title">
        <h1>Sostenibilidad</h1>
      </div>
      <div class="principal-notice">
        <div class="left-notice">
          <img
          src="../../../assets/imagenesnoticias/three/NOTICIA 3.jpeg"
          alt=""
        />
          <div class="contenido">
            <span>Maracaibo, 25 de octubre, 2024 </span>
            <a href="/three"
              >Parroquia Juana de Ávila lidera jornada de riego de plantas en
              Circunvalación 2 en pro de la sostenibilidad ambiental
            </a>
            <p>
              Esta actividad destaca cómo la colaboración entre estudiantes y
              miembros de la comunidad puede generar un impacto positivo en el
              medio ...
            </p>
            <a routerLink="/three">
              <button>MÁS DETALLES</button>
            </a>
          </div>
        </div>
  
        <div class="right-notice">
          <img
            src="../../../assets/imagenesnoticias/seven/NOTICIA 7 (2).jpeg"
            alt=""
          />
          <div class="contenido">
            <span>20 de octubre, 2024</span>
            <a href="/seven"
              >“Rocky”: Un Robot Multifuncional para Cotejos Ambientales en
              Entornos Difíciles</a
            >
            <p>
              Estudiantes de la carrera de Ingeniería Electrónica de la
              Universidad Dr. Rafael Belloso Chacín, han desarrollado un innovador
              robot llamado ...
            </p>
            <a routerLink="/seven">
              <button>MÁS DETALLES</button>
            </a>
          </div>
        </div>
      </div>
      <div class="principal-notice">
        
        <div class="left-notice">
          <img src="../../../assets/imagenesnoticias/six/NOTICIA 6.jpeg" alt="" />
          <div class="contenido">
            <span>Maracaibo, 20 de octubre, 2024</span>
            <a href="/six"
              >Capacitación: Proyecto de Reforestación Promueve la Sostenibilidad
              en el Parque Vereda del Lago</a
            >
            <p>
              El pasado 19 de octubre, continuó la capacitación de 60 voluntarios
              en el Proyecto de Reforestación ...
            </p>
            <a routerLink="/six">
              <button>MÁS DETALLES</button>
            </a>
          </div>
        </div>
        
        <div class="right-notice">
          <img
            src="../../../assets/imagenesnoticias/eight/NOTICIA 8 (1).jpg"
            alt=""
          />
          <div class="contenido">
            <span>Maracaibo, 20 de octubre, 2024</span>
            <a href="/eight"
              >Nuevos Contenedores de Reciclaje Promueven la Sostenibilidad los
              Campus Universitarios del País</a
            >
            <p>
              Con el objetivo de fomentar la conciencia ecológica y la
              sostenibilidad dentro de las comunidades universitarias, se ha
              implementado ...
            </p>
            <a routerLink="/eight">
              <button>MÁS DETALLES</button>
            </a>
          </div>
        </div>
      </div>
    </div>

    
  </main>
  
<app-footer></app-footer>


