<footer>
  <div class="footer">
    <!--  <div class="footer-top">
            <div class="menu">
                <a href="#">5M</a>
                <a href="#">1M</a>
                <a href="#">99</a>
                <a href="#">10</a>
            </div>
        </div> -->

    <div class="correo">
      <div class="enviarcorreo">
        <img
          src="../../../assets/Conectando Realidades/img/Icono newsletter-01.png"
          alt=""
        />
        <div class="secondcorreo">
          <p>Comunícate con nosotros y envia tus correos</p>
          <input type="text" placeholder="Correo Electronico" />
          <!-- <button>Enviar</button> -->
        </div>
      </div>

      <img
        src="../../../assets/Conectando Realidades/img/Fondo Newsletter.jpg"
        alt=""
      />
    </div>
  </div>

  <div class="secondContainer">
    <div class="left">
      <div class="division">
        <img
          src="../../../assets/Conectando Realidades/Logo/Logo Conectando Realidades-02.png"
          alt=""
        />
      </div>

      <h3>Mantente informado de todo lo que está ocurriendo</h3>

      <!--   <a href="">
            <button> Leer Mas</button>
          </a> -->
    </div>

    <div class="right">
      <div class="contact">
        <div class="min-width">
          <h3>Saber Más</h3>
        </div>

        <p>Home</p>
        <p>Sobre Nosotros</p>
        <p>Contáctanos</p>
      </div>

      <div class="contact">
        <div class="min-width">
          <h3>Noticias</h3>
        </div>
        <p>Niños Scouts</p>
        <p>Tierra de Milagros y Devoción</p>
        <p>Artesanos transforman camino</p>
      </div>
      <div class="contact">
        <div class="min-width">
          <h3>Contáctanos</h3>
        </div>

        <p>Conectandorealidadesceogmail.com</p>
        <p>Youtube: Conectando Realidades</p>
        <p>Instagram: ConectandoRealidades_Info</p>
      </div>
    </div>
  </div>
</footer>
