<div class="header">
  <div class="header-top">
    <div class="logo">
      <img src="../../../assets/images/conecta.jpg" alt="" />
    </div>
    <div class="menu">
      <a href="#">Home</a>
      <a href="/sobre-nosotros">Sobre Nosotros</a>
      <a href="/cronicas">Crónicas</a>
      <a href="/contacto">Contacto</a>
      <a href=""
        ><img
          src="../../../assets/icons/search_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg"
          alt=""
      /></a>
    </div>

    <div class="second-menu">
      <a href="https://www.instagram.com/conectandorealidades_info?igsh=MXJseWY5c3E3OWo4aQ=="
        target="_blank"><img src="../../../assets/icons/instagram (1).png" alt=""
      /></a>
      <a href="https://www.tiktok.com/@conectando.realid?_t=8qci4iZBrOA&_r=1"
        target="_blank"><img src="../../../assets/icons/instagram (2).png" alt=""
      /></a>
      <a href="https://wa.me/584246603778" target="_blank"
        ><img src="../../../assets/icons/instagram (4).png" alt=""
      /></a>
      <a href="https://youtube.com/@conectandorealidades?si=Ayg6-A_nIfK-D9y8"
         target="_blank"><img src="../../../assets/icons/instagram (5).png" alt=""
      /></a>
    </div>
  </div>
  <div class="hero-image-container">
    <img src="../../../../assets/banners/sobre.jpg" alt="" />
  </div>

  <div class="contenido">
    <p>Soluciones que inspiran, historias que transforman</p>
  </div>
</div>

<div class="contenido-container">
  <div class="left">
    <!-- Mision Vision -->

    <h1>Somos Conectando Realidades</h1>
    <p>
      Conectando Realidades se propone como un espacio que prioriza la
      esperanza, la empatía, el análisis profundo y la inspiración, sin perder
      de vista la objetividad periodística.
    </p>
    <p>
      Nuestro compromiso es proporcionar un periodismo responsable, orientado a
      conectar problemas reales con soluciones tangibles, fomentando un diálogo
      constructivo y un cambio positivo en la sociedad.
    </p>
    <h2>MISIÓN</h2>
    <p>
      Somos un medio encargado de visibilizar los desafíos de las sociedades
      actuales a través de una mirada pro-positiva, destacando historias y
      proyectos que impulsan soluciones efectivas.
    </p>
    <p>
      Queremos informar y empoderar a nuestra audiencia con contenido que
      inspire a la acción, promoviendo el desarrollo sostenible, la equidad y la
      justicia social.
    </p>

    <h2>VISIÓN</h2>
    <p>
      Ser un cibermedio referente en periodismo de soluciones, reconocido por su
      enfoque innovador y su capacidad para inspirar a las audiencias a
      convertirse en agentes de cambio.
    </p>
    <p>
      Aspiramos a construir un puente entre los problemas complejos de la
      realidad y las soluciones posibles, contribuyendo a una sociedad más
      informada, consciente y proactiva.
    </p>
    <h2>VALORES</h2>
    <p>
      Nuestras historias están orientadas a fomentar un impacto positivo en la
      sociedad.
    </p>

    <p>
      Buscamos nuevas formas de contar historias que motiven la acción y el
      cambio.
    </p>
    <p>
      Nos esforzamos por entender las realidades de las personas y comunidades
      que reportamos, dándoles voz desde el periodismo.
    </p>
    <p>
      Promovemos soluciones que respeten el medio ambiente y contribuyan a un
      futuro sostenible
    </p>
  </div>

  <div class="right">
    <img src="../../../../assets/banners/mision-vision.jpg" alt="" />
  </div>
</div>
<app-footer></app-footer>
