<div class="header">
  <div class="header-top">
    <div class="logo">
      <img src="../../../assets/images/conecta.jpg" alt="" />
    </div>
    <div class="menu">
      <a href="#">Home</a>
      <a href="/sobre-nosotros">Sobre Nosotros</a>
      <a href="/cronicas">Crónicas</a>
      <a href="/contacto">Contacto</a>
    
    </div>

    <div class="second-menu">
      <a
        href="https://www.instagram.com/conectandorealidades_info?igsh=MXJseWY5c3E3OWo4aQ=="
        target="_blank"
        ><img src="../../../assets/icons/instagram (1).png" alt=""
      /></a>
      <a
        href="https://www.tiktok.com/@conectando.realid?_t=8qci4iZBrOA&_r=1"
        target="_blank"
        ><img src="../../../assets/icons/instagram (2).png" alt=""
      /></a>
      <a href="https://wa.me/584246603778" target="_blank"
        ><img src="../../../assets/icons/instagram (4).png" alt=""
      /></a>
      <a
        href="https://youtube.com/@conectandorealidades?si=Ayg6-A_nIfK-D9y8"
        target="_blank"
        ><img src="../../../assets/icons/instagram (5).png" alt=""
      /></a>
    </div>
  </div>
</div>

<div class="contenido-container">
  <div class="left">
    <!-- Noticia 3 -->
    <img
      src="../../../../assets/imagenesnoticias/three/NOTICIA 3.jpeg"
      alt=""
    />
    <h1>
      Parroquia Juana de Ávila lidera jornada de riego de plantas en
      Circunvalación 2 en pro de la sostenibilidad ambiental
    </h1>
    <p>
      Una jornada de riego de plantas se llevó a cabo en la prolongación de la
      Circunvalación 2, en una iniciativa que reflejó el compromiso con la
      sostenibilidad ambiental y la mejora del entorno local. La actividad, que
      incluyó la participación de estudiantes prestadores de servicio
      comunitario de la URBE y coordinadores ambientales, se extendió desde la
      Plaza Astolfo Romero hasta el semáforo de la entrada principal de El
      Narajal.
    </p>
    <p>
      Esta jornada forma parte de un plan de acción más amplio destinado a
      contribuir a la lucha contra el cambio climático y mejorar la calidad de
      vida en la comunidad. Las plantas que se están regando son resultado de
      una plantación previa, donde se sembraron más de 100 árboles, lo que
      demuestra un esfuerzo continuo por restaurar y cuidar el entorno natural.
    </p>
    <p>
      Esta actividad destaca cómo la colaboración entre estudiantes y miembros
      de la comunidad puede generar un impacto positivo en el medio ambiente.
      Las iniciativas de reforestación y mantenimiento de áreas verdes son
      esenciales para promover la sostenibilidad y crear conciencia sobre la
      importancia de cuidar nuestro entorno. Continuar con este tipo de acciones
      es fundamental para fomentar una cultura de sostenibilidad y
      responsabilidad ambiental en la comunidad.
    </p>
  

  </div>

  <div class="right">
    <h2>Noticias relacionadas</h2>
    <div class="related-notices">
      <div class="related-notice">
        <img src="../../../assets/imagenesnoticias/four/NOTICIA 4.jpeg" alt="" />
        <div class="contenido">
          <a href="/four">Iniciativa Verde Promueve la Conciencia Ambiental en la Comunidad</a>
        </div>
      </div>
      <div class="related-notice">
        <img src="../../../assets/imagenesnoticias/six/NOTICIA 6.jpeg" alt="" />
        <div class="contenido">
          <a href="/six">Capacitación: Proyecto de Reforestación Promueve la Sostenibilidad en el Parque Vereda del Lago</a>
        </div>
      </div>
      <div class="related-notice">
        <img src="../../../assets/imagenesnoticias/eight/NOTICIA 8 (1).jpg" alt="" />
        <div class="contenido">
          <a href="/eight">Nuevos Contenedores de Reciclaje Promueven la Sostenibilidad en los Campus Universitarios del País</a>
        </div>
      </div>
      <div class="related-notice">
        <img src="../../../assets/imagenesnoticias/reportaje/REPORTAJE 1.png" alt="" />
        <div class="contenido">
          <a href="/reportaje">Universidades venezolanas: impulso de la sostenibilidad y sustentabilidad en los campus del país</a>
        </div>
      </div>
      <div class="related-notice">
        <img src="../../../assets/imagenesnoticias/three/NOTICIA 3.jpeg" alt="" />
        <div class="contenido">
          <a href="/three">Parroquia Juana de Ávila lidera jornada de riego de plantas en Circunvalación 2</a>
        </div>
      </div>
    </div>
  </div>
  
</div>

<app-footer></app-footer>
