<div class="header">
    
    <div class="header-top">
        <div class="logo">
            <img src="../../../assets/images/conecta.jpg" alt="">
        </div>
        <div class="menu">
            <a href="#">Home</a>
            <a href="#">Sobre Nosotros</a>
            <a href="#">Crónicas</a>
            <a href="#">Podcast</a>
            <a href="#">Contacto</a>
            <a href=""><img src="../../../assets/icons/search_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg" alt=""></a>
          
        </div>

        <div class="second-menu">
            <a href=""><img src="../../../assets/icons/instagram (1).png" alt=""></a>
            <a href=""><img src="../../../assets/icons/instagram (2).png" alt=""></a>
            <a href=""><img src="../../../assets/icons/instagram (3).png" alt=""></a>
            <a href=""><img src="../../../assets/icons/instagram (4).png" alt=""></a>
            <a href=""><img src="../../../assets/icons/instagram (5).png" alt=""></a>
        </div>
       
    </div>
    <div class="hero-image-container">
        <img src="../../../assets/images/photo_2024-09-17_10-34-01.jpg" alt="">

    </div>
    
    <div class="contenido">
        <p>Niños Scouts lideran la Limpieza del Lago de Maracaibo</p>
        <a href="" class="button-contenido">Leer articulo completo</a>
    </div>
</div>
