<div class="header">
  <div class="header-top">
    <div class="logo">
      <img src="../../../assets/images/conecta.jpg" alt="" />
    </div>
    <div class="menu">
      <a href="#">Home</a>
      <a href="/sobre-nosotros">Sobre Nosotros</a>
      <a href="/cronicas">Crónicas</a>
      <a href="/contacto">Contacto</a>
   
    </div>

    <div class="second-menu">
      <a href="https://www.instagram.com/conectandorealidades_info?igsh=MXJseWY5c3E3OWo4aQ=="
        target="_blank"><img src="../../../assets/icons/instagram (1).png" alt=""
      /></a>
      <a href="https://www.tiktok.com/@conectando.realid?_t=8qci4iZBrOA&_r=1"
        target="_blank"><img src="../../../assets/icons/instagram (2).png" alt=""
      /></a>
  <!--     <a href="https://wa.me/584246603778" target="_blank"
        ><img src="../../../assets/icons/instagram (3).png" alt=""
      /></a> -->
      <a href="https://wa.me/584246603778" target="_blank"
        ><img src="../../../assets/icons/instagram (4).png" alt=""
      /></a>
      <a href="https://youtube.com/@conectandorealidades?si=Ayg6-A_nIfK-D9y8"
         target="_blank"><img src="../../../assets/icons/instagram (5).png" alt=""
      /></a>
    </div>
  </div>
  <!--  <div class="hero-image-container">
        <img src="../../../assets/images/photo_2024-09-17_10-34-01.jpg" alt="">

    </div> -->
  <div class="videocontainer">
    <video [autoplay]="true" [muted]="true" [loop]="true">
      <source
        src="../../../assets/video/video_2024-11-12_15-34-56.mp4"
        type="video/mp4"
      />
    </video>
  </div>

  <div class="contenido">
    <p>Soluciones que inspiran, historias que transforman</p>
    <!-- <a href="" class="button-contenido">Leer articulo completo</a> -->
  </div>
</div>
