

    <div class="footer">
        <div class="footer-top">
            <div class="menu">
                <a href="#">5M</a>
                <a href="#">1M</a>
                <a href="#">99</a>
                <a href="#">10</a>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="title">
            <h1>Noticias Destacadas</h1>
        </div>
        <div class="principal-notice">

            <div class="left-notice">
                <img src="../../../assets/images/gris.PNG" alt="">
                <div class="contenido">
                    <span>CIUDAD/ ECONOMIA/ MARZO 2024</span>
                    <a href="#">Lorem ipsum dolor sit amet</a>
                    <p>Lorem ipsum aasdasd asd asdas. Csdasdads dsdad . assd sd sdsd asdasdasdadsasd asdasdasd asdasdasd asdasdasda dasdadsasd asdasdasd</p>
                    <button>MÁS DETALLES</button>     
                </div>
            </div>

            <div class="right-notice">
                <img src="../../../assets/images/gris.PNG" alt="">
                <div class="contenido">
                    <span>CIUDAD/ ECONOMIA/ MARZO 2024</span>
                    <a href="#">Lorem ipsum dolor sit amet</a>
                    <p>Lorem ipsum aasdasd asd asdas. Csdasdads dsdad . assd sd sdsd asdasdasdadsasd asdasdasd asdasdasd asdasdasda dasdadsasd asdasdasd</p>
                    <button>MÁS DETALLES</button>     
                </div>
            </div>

        </div>

        <div class="secondary-notice">
            <div class="notice">
                <img src="../../../assets/images/gris.PNG" alt="">
                <div class="contenido">
                    <span>CIUDAD/ ECONOMIA/ MARZO 2024</span>
                    <a href="#">Lorem ipsum dolor sit amet</a>
                    <p>Lorem ipsum aasdasd asd asdas. Csdasdads dsdad . assd sd sdsd asdasdasdadsasd asdasdasd asdasdasd asdasdasda dasdadsasd asdasdasd</p>
                    <button>MÁS DETALLES</button>
                </div>
            </div>
            <div class="notice">
                <img src="../../../assets/images/gris.PNG" alt="">
                <div class="contenido">
                    <span>CIUDAD/ ECONOMIA/ MARZO 2024</span>
                    <a href="#">Lorem ipsum dolor sit amet</a>
                    <p>Lorem ipsum aasdasd asd asdas. Csdasdads dsdad . assd sd sdsd asdasdasdadsasd asdasdasd asdasdasd asdasdasda dasdadsasd asdasdasd</p>
                    <button>MÁS DETALLES</button>
            
                </div>
            </div>
            <div class="notice">
                <img src="../../../assets/images/gris.PNG" alt="">
                <div class="contenido">
                    <span>CIUDAD/ ECONOMIA/ MARZO 2024</span>
                    <a href="#">Lorem ipsum dolor sit amet</a>
                    <p>Lorem ipsum aasdasd asd asdas. Csdasdads dsdad . assd sd sdsd asdasdasdadsasd asdasdasd asdasdasd asdasdasda dasdadsasd asdasdasd</p>
                    <button>MÁS DETALLES</button>     
                </div>
            </div>

        </div>


    </div>

