<div class="header">
  <div class="header-top">
    <div class="logo">
      <img src="../../../assets/images/conecta.jpg" alt="" />
    </div>
    <div class="menu">
      <a href="#">Home</a>
      <a href="/sobre-nosotros">Sobre Nosotros</a>
      <a href="/cronicas">Crónicas</a>
      <a href="/contacto">Contacto</a>
      <a href=""
        ><img
          src="../../../assets/icons/search_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg"
          alt=""
      /></a>
    </div>

    <div class="second-menu">
      <a
        href="https://www.instagram.com/conectandorealidades_info?igsh=MXJseWY5c3E3OWo4aQ=="
        target="_blank"
        ><img src="../../../assets/icons/instagram (1).png" alt=""
      /></a>
      <a
        href="https://www.tiktok.com/@conectando.realid?_t=8qci4iZBrOA&_r=1"
        target="_blank"
        ><img src="../../../assets/icons/instagram (2).png" alt=""
      /></a>
      <a href="https://wa.me/584246603778" target="_blank"
        ><img src="../../../assets/icons/instagram (4).png" alt=""
      /></a>
      <a
        href="https://youtube.com/@conectandorealidades?si=Ayg6-A_nIfK-D9y8"
        target="_blank"
        ><img src="../../../assets/icons/instagram (5).png" alt=""
      /></a>
    </div>
  </div>
</div>

<div class="contenido-container">
  <div class="left">
    <!-- Noticia 3 -->
    <img
      src="../../../../assets/imagenesnoticias/eight/NOTICIA 8 (1).jpg"
      alt=""
    />
    <h1>
      Nuevos Contenedores de Reciclaje Promueven la Sostenibilidad los Campus
      Universitarios del País
    </h1>
    <p>
      Con el objetivo de fomentar la conciencia ecológica y la sostenibilidad
      dentro de las comunidades universitarias, se ha implementado un sistema de
      recolección de residuos mediante la instalación de contenedores de
      reciclaje en diversas áreas de los campus de las universidades del país.
    </p>
    <p>
      La Universidad Dr. Rafael Belloso Chacín (URBE), la Universidad Católica
      Andres Bello (UCAB), y la Universidad Metropolitana (UNIMET), implementan
      estas iniciativas en sus campus para una vida mucho más ecológica y
      saludable para el ambiente dentro de los mismos.
    </p>
    <p>
      Estos contenedores están diseñados para clasificar desechos reciclables,
      como metal, papel, vidrio y plástico. La iniciativa forma parte de una
      campaña para promover prácticas responsables y sostenibles entre
      estudiantes, docentes y personal administrativo.
    </p>
    <p>
      Ubicados estratégicamente en áreas comunes, los contenedores están
      claramente identificados para facilitar el proceso de separación de
      residuos. Cada tipo de desecho tiene su contenedor específico, asegurando
      que el reciclaje sea eficiente: los desechos metálicos, papeles usados,
      botellas de vidrio y plásticos tendrán su respectivo destino.
    </p>
    <p>
      La implementación de estos contenedores no solo contribuirá a la reducción
      inmediata de desechos en el campus, sino que también busca involucrar a
      los estudiantes en prácticas sostenibles que puedan replicar en sus
      hogares y futuras carreras profesionales. Además, se espera que esta
      iniciativa sirva de ejemplo para otras instituciones educativas de la
      región.
    </p>
    <p>
      Con este nuevo proceso de reciclaje, se reafirma el compromiso con la
      sostenibilidad y la preservación del medio ambiente, brindando a la
      comunidad universitaria las herramientas necesarias para contribuir al
      cuidado del planeta.
    </p>
    <div class="imagenes">
      <video [autoplay]="true" [muted]="true" [loop]="true">
        <source
          src="../../../../assets/imagenesnoticias/Noticia3/video_2024-10-15_15-43-04.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </div>

  <div class="right">
    <h2>noticias relacionadas</h2>
  </div>
</div>

<app-footer></app-footer>
