<app-header></app-header>
<main>
    <div class="container">
      <div class="title">
        <h1>Cronicas</h1>
      </div>
      <div class="principal-notice">
        <div class="left-notice">
          <img src="../../../../assets/banners/cronica1.jpg" alt="" />
          <div class="contenido">
            <span>MARACAIBO 2024</span>
            <a href="/noticias">Venezuela: Tierra de Milagros y Devoción</a>
            <p>
              Venezuela, un país donde el sol brilla intensamente y las montañas
              abrazan el cielo, también es hogar de una profunda espiritualidad...
            </p>
            <a routerLink="/noticias">
              <button>MÁS DETALLES</button>
            </a>
          </div>
        </div>
  
        <div class="right-notice">
          <img src="../../../../assets/banners/cronica2.jpg" alt="" />
          <div class="contenido">
            <span>MARACAIBO 2024</span>
            <a href="/noticiasdos"
              >Maracaibo: un crisol de historia, cultura y tradiciones</a
            >
            <p>
              Maracaibo, la capital del estado Zulia, es un crisol de historia,
              cultura y tradiciones que se reflejan en sus espacios emblemáticos.
              Desde el majestuoso Teatro Baralt ...
            </p>
            <a routerLink="/noticiasdos">
              <button>MÁS DETALLES</button>
            </a>
          </div>
        </div>
      </div>

    </div>
  </main>
  
<app-footer></app-footer>