<div class="header">
  <div class="header-top">
    <div class="logo">
      <img src="../../../assets/images/conecta.jpg" alt="" />
    </div>
    <div class="menu">
      <a href="#">Home</a>
      <a href="/sobre-nosotros">Sobre Nosotros</a>
      <a href="/cronicas">Crónicas</a>
      <a href="/contacto">Contacto</a>
   
    </div>

    <div class="second-menu">
      <a
        href="https://www.instagram.com/conectandorealidades_info?igsh=MXJseWY5c3E3OWo4aQ=="
        target="_blank"
        ><img src="../../../assets/icons/instagram (1).png" alt=""
      /></a>
      <a
        href="https://www.tiktok.com/@conectando.realid?_t=8qci4iZBrOA&_r=1"
        target="_blank"
        ><img src="../../../assets/icons/instagram (2).png" alt=""
      /></a>
      <a href="https://wa.me/584246603778" target="_blank"
        ><img src="../../../assets/icons/instagram (4).png" alt=""
      /></a>
      <a
        href="https://youtube.com/@conectandorealidades?si=Ayg6-A_nIfK-D9y8"
        target="_blank"
        ><img src="../../../assets/icons/instagram (5).png" alt=""
      /></a>
    </div>
  </div>
</div>

<div class="contenido-container">
  <div class="left">
    <!-- Noticia 3 -->
    <img
      src="../../../../assets/imagenesnoticias/five/NOTICIA 5.jpg"
      alt=""
    />
    <h1>
      Jornada de Limpieza en el Lago de Maracaibo Promueve la Conciencia
      Ambiental
    </h1>
    <p>
      Voluntarios se unieron a la Fundación Zulia Recicla en una jornada de
      limpieza de las costas del Lago de Maracaibo, específicamente en el Parque
      Vereda del Lago 3. Durante esta actividad, se recolectaron más de 600
      kilogramos de desechos sólidos, un esfuerzo significativo para preservar
      el ecosistema local.
    </p>
    <p>
      La Fundación Zulia Recicla hizo un llamado a la comunidad sobre la
      importancia de cuidar el Lago de Maracaibo, resaltando que es un organismo
      vivo con capacidad de autorregulación. Sin embargo, advirtieron que el
      volumen de desechos que se depositan diariamente en el lago dificulta su
      restauración natural.
    </p>
    <p>
      La participación activa de los voluntarios en esta jornada no solo
      contribuye a la limpieza del lago, sino que también refuerza una política
      educativa que busca cultivar una conciencia ambientalista en la comunidad.
      Estas acciones son fundamentales para invitar a otros a involucrarse en la
      conservación de recursos naturales y promover prácticas sostenibles.
    </p>
    <p>
      El compromiso con la limpieza y conservación del Lago de Maracaibo es un
      paso importante hacia la protección de este valioso patrimonio natural, y
      resalta la necesidad de una colaboración continua entre organizaciones y
      ciudadanos para lograr un entorno más limpio y saludable.
    </p>


  </div>

  <div class="right">
    <h2>Noticias relacionadas</h2>
    <div class="related-notices">
      <div class="related-notice">
        <img src="../../../assets/banners/noticia1.jpg" alt="" />
        <div class="contenido">
          <a href="/noticiastres">Comunidades Unidas contra la huella de carbono</a>
        </div>
      </div>
      <div class="related-notice">
        <img src="../../../assets/imagenesnoticias/one/NOTICIA 1 (1).jpeg" alt="" />
        <div class="contenido">
          <a href="/one">Comunidades: Vecinos de Las Salinas estrenan puente peatonal rehabilitado</a>
        </div>
      </div>
      <div class="related-notice">
        <img src="../../../assets/imagenesnoticias/two/NOTICIa 2 (1).jpeg" alt="" />
        <div class="contenido">
          <a href="/two">Soluciones: Ancianos del hogar La Mano de Dios obtienen la reparación de tuberías de gas</a>
        </div>
      </div>
      <div class="related-notice">
        <img src="../../../assets/imagenesnoticias/three/NOTICIA 3.jpeg" alt="" />
        <div class="contenido">
          <a href="/three">Parroquia Juana de Ávila lidera jornada de riego de plantas</a>
        </div>
      </div>
      <div class="related-notice">
        <img src="../../../assets/imagenesnoticias/four/NOTICIA 4.jpeg" alt="" />
        <div class="contenido">
          <a href="/four">Iniciativa Verde Promueve la Conciencia Ambiental en la Comunidad</a>
        </div>
      </div>
    </div>
  </div>
  
</div>

<app-footer></app-footer>
