<div class="header">
    <div class="header-top">
      <div class="logo">
        <img src="../../../assets/images/conecta.jpg" alt="" />
      </div>
      <div class="menu">
        <a href="#">Home</a>
        <a href="/sobre-nosotros">Sobre Nosotros</a>
        <a href="/cronicas">Crónicas</a>
        <a href="/contacto">Contacto</a>
        <a href=""
          ><img
            src="../../../assets/icons/search_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg"
            alt=""
        /></a>
      </div>
  
      <div class="second-menu">
        <a href="https://www.instagram.com/conectandorealidades_info?igsh=MXJseWY5c3E3OWo4aQ=="
          target="_blank"><img src="../../../assets/icons/instagram (1).png" alt=""
        /></a>
        <a href="https://www.tiktok.com/@conectando.realid?_t=8qci4iZBrOA&_r=1"
          target="_blank"><img src="../../../assets/icons/instagram (2).png" alt=""
        /></a>
        <a href="https://wa.me/584246603778" target="_blank"
          ><img src="../../../assets/icons/instagram (4).png" alt=""
        /></a>
        <a href="https://youtube.com/@conectandorealidades?si=Ayg6-A_nIfK-D9y8"
           target="_blank"><img src="../../../assets/icons/instagram (5).png" alt=""
        /></a>
      </div>
    </div>
    <div class="hero-image-container">
      <img src="../../../../assets/banners/contactanos.jpg" alt="" />
    </div>
  
    <div class="contenido">
      <p>Contáctanos</p>
    </div>
  </div>
  
  <div class="contenido-container">

    
    <div class="form" >
        <h2>Contáctanos</h2>
        <form action="javascript:void(0)">
          <div class="form-input">
            <div class="form-section">
              <label>Nombre</label>
              <input
                formControlName="name"
                type="text"
                placeholder="Nombre"
              />
            </div>
            <div class="form-section">
              <label>Numero</label>
              <input
                formControlName="contact"
                type="text"
                placeholder="Número"
              />
            </div>
            <div class="form-section">
              <label>Correo</label>
              <input
                formControlName="email"
                type="text"
                placeholder="Correo"
              />
            </div>
            <div class="form-section">
              <label>Empresa</label>
              <input
                formControlName="empresa"
                type="text"
                placeholder="Empresa"
              />
            </div>
            <div class="form-section">
              <label>Cargo</label>
              <input
                formControlName="cargo"
                type="text"
                placeholder="Cargo"
              />
            </div>
            <div class="form-section">
              <label>Pais</label>
              <input
                formControlName="country"
                type="text"
                placeholder="Pais"
              />
            </div>
          </div>
          <div class="form-send">
            <label for="">Mensaje</label>
            <input
              formControlName="message"
              type="text"
            />
  
            <button type="submit">Enviar</button>
          </div>
        </form>
      </div>
  </div>
  <app-footer></app-footer>
  