<div class="header">
  <div class="header-top">
    <div class="logo">
      <img src="../../../assets/images/conecta.jpg" alt="" />
    </div>
    <div class="menu">
      <a href="#">Home</a>
      <a href="/sobre-nosotros">Sobre Nosotros</a>
      <a href="/cronicas">Crónicas</a>
      <a href="/contacto">Contacto</a>
      <a href=""
        ><img
          src="../../../assets/icons/search_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg"
          alt=""
      /></a>
    </div>

    <div class="second-menu">
      <a
        href="https://www.instagram.com/conectandorealidades_info?igsh=MXJseWY5c3E3OWo4aQ=="
        target="_blank"
        ><img src="../../../assets/icons/instagram (1).png" alt=""
      /></a>
      <a
        href="https://www.tiktok.com/@conectando.realid?_t=8qci4iZBrOA&_r=1"
        target="_blank"
        ><img src="../../../assets/icons/instagram (2).png" alt=""
      /></a>
      <a href="https://wa.me/584246603778" target="_blank"
        ><img src="../../../assets/icons/instagram (4).png" alt=""
      /></a>
      <a
        href="https://youtube.com/@conectandorealidades?si=Ayg6-A_nIfK-D9y8"
        target="_blank"
        ><img src="../../../assets/icons/instagram (5).png" alt=""
      /></a>
    </div>
  </div>
</div>

<div class="contenido-container">
  <div class="left">
    <!-- Noticia 3 -->
    <img
      src="../../../../assets/imagenesnoticias/seven/NOTICIA 7.jpeg"
      alt=""
    />
    <h1>
      “Rocky”: Un Robot Multifuncional para Cotejos Ambientales en Entornos
      Difíciles
    </h1>
    <p>
      Estudiantes de la carrera de Ingeniería Electrónica de la Universidad Dr.
      Rafael Belloso Chacín, han desarrollado un innovador robot llamado
      “Rocky”, diseñado para operar en entornos de difícil acceso y realizar
      mediciones ambientales. Este dispositivo autónomo está equipado con una
      cámara y sensores que le permiten recolectar datos sobre temperatura,
      distancia, humedad, y concentración de gases en ambientes contaminados.
    </p>
    <p>
      El prototipo fue fabricado utilizando tecnología de impresión 3D y es el
      resultado del trabajo colaborativo de los estudiantes Fabrizio Pacheco,
      Juan Nava y Amanda Valcarcel. “Rocky” cuenta con un sistema de GPS y
      conexión wifi, lo que facilita el envío de información al operador,
      mejorando la seguridad al permitir la exploración de áreas que podrían ser
      peligrosas para los humanos.
    </p>
    <p>
      Este robot puede ser particularmente útil en la industria petrolera y en
      situaciones donde sea necesario medir condiciones ambientales. Además, su
      capacidad para esquivar obstáculos y su flotabilidad le permiten realizar
      mediciones sobre la superficie de diferentes elementos, como agua o
      productos químicos.
    </p>
    <p>
      El ingeniero Junior González, tutor del proyecto, explicó que “Rocky” no
      solo es un dispositivo controlado por un operador, sino que también puede
      funcionar de manera autónoma, registrando y visualizando las mediciones en
      una pantalla digital.
    </p>
    <p>
      Ana Valcarcel, integrante del equipo de creadores, destacó que “Rocky”
      tiene características amigables, como saludar y realizar movimientos de
      adaptación, actuando como un supervisor que, a través de sus sensores,
      puede medir riesgos en entornos difíciles.
    </p>
    <p>
      Esta innovación representa un avance significativo en la tecnología de
      mediciones ambientales, contribuyendo a la seguridad en la industria y
      promoviendo prácticas más seguras en la recolección de datos en
      condiciones adversas.
    </p>

    <div class="imagenes">
      <video [autoplay]="true" [muted]="true" [loop]="true">
        <source
          src="../../../../assets/imagenesnoticias/Noticia3/video_2024-10-15_15-43-04.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </div>

  <div class="right">
    <h2>noticias relacionadas</h2>
  </div>
</div>

<app-footer></app-footer>
