<div class="header">


    <div class="header-top">
        <div class="logo">
            <img src="../../../assets/images/conecta.jpg" alt="">
        </div>
        <div class="menu">
          <a href="#">Home</a>
          <a href="/sobre-nosotros">Sobre Nosotros</a>
          <a href="/cronicas">Crónicas</a>
          <a href="#">Podcast</a>
          <a href="/contacto">Contacto</a>
          <a href=""><img src="../../../assets/icons/search_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg" alt=""></a>
        
      </div>
    
        <div class="second-menu">
            <a href=""><img src="../../../assets/icons/instagram (1).png" alt=""></a>
            <a href=""><img src="../../../assets/icons/instagram (2).png" alt=""></a>
            <a href=""><img src="../../../assets/icons/instagram (3).png" alt=""></a>
            <a href=""><img src="../../../assets/icons/instagram (4).png" alt=""></a>
            <a href=""><img src="../../../assets/icons/instagram (5).png" alt=""></a>
        </div>
       
    </div>
    
    </div>
    
    
<div class="contenido-container">
  <div class="left">
    <!-- Noticia 1 -->
    <img src="../../../../assets/imagenesnoticias/Noticia1/photo_2024-10-15_15-42-07.jpg" alt="">
    <h1>Comunidades Unidas contra la huella de carbono</h1>
    <p>
      Comunidades de la parroquia Juana de Avila organizaron una caminata
      saludable de 5 kilómetros que se congregó en la Universidad Dr. Rafael
      Belloso Chacín como una iniciativa saludable en una jornada de actividad
      física y conciencia ecológica. Vecinos de la parroquia, estudiantes, y
      comunidades cercanas se unieron para participar en este evento que buscó
      promover el bienestar y el cuidado del medio ambiente, además de la
      reducción de la huella de carbono.
    </p>
    <p>
      La huella de carbono representa la cantidad de emisiones de gases de
      efecto invernadero que se emitieron a la atmósfera por medio de alguna
      actividad hecha por humanos, que puede ser un producto o un servicio, o
      por la acción diaria de un habitante.
    </p>
    <p>
      El recorrido, que inició a las 7:00 de la mañana desde la sede de la
      universidad, estuvo marcado por un ambiente festivo y de unidad. Los
      participantes, vestidos de color verde, recorrieron las calles cercanas la
      Avenida Goajira, tomando la vía principal de la Urbanización la Picola,
      seguidamente Canta Claro para retornar en el colegio J.J Thomson y seguir
      por la Circunvalación #2, hasta llegar a la entrada principal del recinto
      universitario.
    </p>
    <p>
      Adamarys Arguello, una estudiante que asistió junto a su papá Alberto
      Arguello, declararon sentirse orgullosos y felices de poder compartir este
      momento juntos.
    </p>
    <p>
      Al mismo tiempo, Omaira Sanchez, enfermera de la Universidad, destacó
      "Estoy feliz de poder asistir a este evento por segunda vez, me parece una
      iniciativa excelente para continuar promoviendo prácticas saludables y el
      cuidado del medio ambiente."
    </p>
    <p>
      La caminata concluyó en las instalaciones del campus con una sesión de
      bailoterapia, donde la comunidad se llenó de energía al ritmo de música
      latina, guiados por las instructoras Jossi Martinez y Andreina Benitez.
    </p>
    <p>
      Las personas en el evento expresaron su emoción y alegría a medida que
      avanzaba la caminata. Hilariz Piña, quién asistió en compañía de amigos,
      comentó estar "Contenta con esta actividad sustentable que une a la
      comunidad, excelente iniciativa".
    </p>
    <p>
      Esta caminata es una práctica que cumplen las comunidades incentivando la
      reducción de la huella de carbono, promoviendo el uso de transporte no
      motorizado y demostrando el compromiso con la sostenibilidad, además de
      convertirse en un espacio para fortalecer los lazos de la comunidad
      universitaria, promoviendo valores clave como el respeto por el medio
      ambiente y la importancia de llevar un estilo de vida activo y saludable.
    </p>

    <div class="imagenes">
      <img src="../../../../assets/imagenesnoticias/Noticia1/photo_2024-10-15_15-42-14.jpg" alt="">
      <img src="../../../../assets/imagenesnoticias/Noticia1/photo_2024-10-15_15-42-17.jpg" alt="">
    </div>

</div>

<div class="right">
  <h2>noticias relacionadas</h2>
</div>
</div>
<app-footer></app-footer>
