<main>
  <div class="container">
    <div class="title">
      <h1>Noticias Destacadas</h1>
    </div>
    <div class="principal-notice">
      <div class="left-notice">
        <img src="../../../assets/banners/cronica1.jpg" alt="" />
        <div class="contenido">
          <span>MARACAIBO 2024</span>
          <a href="/noticias">Venezuela: Tierra de Milagros y Devoción</a>
          <p>
            Venezuela, un país donde el sol brilla intensamente y las montañas
            abrazan el cielo, también es hogar de una profunda espiritualidad...
          </p>
          <a routerLink="/noticias">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>

      <div class="right-notice">
        <img src="../../../assets/banners/cronica2.jpg" alt="" />
        <div class="contenido">
          <span>MARACAIBO 2024</span>
          <a href="/noticiasdos"
            >Maracaibo: un crisol de historia, cultura y tradiciones</a
          >
          <p>
            Maracaibo, la capital del estado Zulia, es un crisol de historia,
            cultura y tradiciones que se reflejan en sus espacios emblemáticos.
            Desde el majestuoso Teatro Baralt ...
          </p>
          <a routerLink="/noticiasdos">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>
    </div>

    <div class="secondary-notice">
      <div class="notice">
        <img src="../../../assets/banners/noticia1.jpg" alt="" />
        <div class="contenido">
          <span>Maracaibo, 5 de octubre de 2024</span>
          <a href="/noticiastres"
            >Comunidades Unidas contra la huella de carbono</a
          >
          <p>
            Comunidades de la parroquia Juana de Avila organizaron una caminata
            saludable de 5 kilómetros que se congregó en la Universidad Dr.
            Rafael Belloso Chacín como una iniciativa saludable en una ....
          </p>
          <a routerLink="/noticiastres">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>
      <div class="notice">
        <img src="../../../assets/banners/noticia2.jpg" alt="" />
        <div class="contenido">
          <span>17 de septiembre de 2024 </span>
          <a href="/noticiascuatro">De Bombonas Vacías a Robots Decorativos</a>
          <p>
            En un ingenioso ejemplo de reciclaje y creatividad, los vecinos del
            barrio La Faria están dando una nueva ...
          </p>
          <a routerLink="/noticiascuatro">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>
      <div class="notice">
        <img src="../../../assets/banners/noticia3.jpg" alt="" />
        <div class="contenido">
          <span>Maracaibo, 17 de septiembre de 2024 </span>
          <a href="/noticiascinco"
            >Niños Scouts: Liderazgo ambiental en la Limpieza del Lago de
            Maracaibo</a
          >
          <p>
            En un esfuerzo ejemplar por preservar el medio ambiente, un grupo de
            jóvenes scouts ha tomado la iniciativa de limpiar las orillas del
            lago de Maracaibo, enfrentando el desafío ...
          </p>
          <a routerLink="/noticiascinco">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
