<main>
  <div class="container">
    <div class="title">
      <h1>Noticias Destacadas</h1>
    </div>
    <div class="principal-notice">
      <div class="left-notice">
        <img src="../../../assets/images/gris.PNG" alt="" />
        <div class="contenido">
          <span>CIUDAD/ ECONOMIA/ MARZO 2024</span>
          <a href="#">Lorem ipsum dolor sit amet</a>
          <p>
            Lorem ipsum aasdasd asd asdas. Csdasdads dsdad . assd sd sdsd
            asdasdasdadsasd asdasdasd asdasdasd asdasdasda dasdadsasd asdasdasd
          </p>
          <a routerLink="/noticias">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>

      <div class="right-notice">
        <img src="../../../assets/images/gris.PNG" alt="" />
        <div class="contenido">
          <span>CIUDAD/ ECONOMIA/ MARZO 2024</span>
          <a href="#">Lorem ipsum dolor sit amet</a>
          <p>
            Lorem ipsum aasdasd asd asdas. Csdasdads dsdad . assd sd sdsd
            asdasdasdadsasd asdasdasd asdasdasd asdasdasda dasdadsasd asdasdasd
          </p>
          <a routerLink="/noticiasdos">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>
    </div>

    <div class="secondary-notice">
      <div class="notice">
        <img src="../../../assets/images/gris.PNG" alt="" />
        <div class="contenido">
          <span>CIUDAD/ ECONOMIA/ MARZO 2024</span>
          <a href="#">Lorem ipsum dolor sit amet</a>
          <p>
            Lorem ipsum aasdasd asd asdas. Csdasdads dsdad . assd sd sdsd
            asdasdasdadsasd asdasdasd asdasdasd asdasdasda dasdadsasd asdasdasd
          </p>
          <a routerLink="/noticiastres">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>
      <div class="notice">
        <img src="../../../assets/images/gris.PNG" alt="" />
        <div class="contenido">
          <span>CIUDAD/ ECONOMIA/ MARZO 2024</span>
          <a href="#">Lorem ipsum dolor sit amet</a>
          <p>
            Lorem ipsum aasdasd asd asdas. Csdasdads dsdad . assd sd sdsd
            asdasdasdadsasd asdasdasd asdasdasd asdasdasda dasdadsasd asdasdasd
          </p>
          <a routerLink="/noticiascuatro">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>
      <div class="notice">
        <img src="../../../assets/images/gris.PNG" alt="" />
        <div class="contenido">
          <span>CIUDAD/ ECONOMIA/ MARZO 2024</span>
          <a href="#">Lorem ipsum dolor sit amet</a>
          <p>
            Lorem ipsum aasdasd asd asdas. Csdasdads dsdad . assd sd sdsd
            asdasdasdadsasd asdasdasd asdasdasd asdasdasda dasdadsasd asdasdasd
          </p>
          <a routerLink="/noticiascinco">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
