<main>
  <div class="container">
    <div class="title">
      <h1>Noticias Destacadas</h1>
    </div>
    <div class="principal-notice">
      <div class="left-notice">
        <img src="../../../assets/banners/cronica1.jpg" alt="" />
        <div class="contenido">
          <span>MARACAIBO 2024</span>
          <a href="/noticias">Venezuela: Tierra de Milagros y Devoción</a>
          <p>
            Venezuela, un país donde el sol brilla intensamente y las montañas
            abrazan el cielo, también es hogar de una profunda espiritualidad...
          </p>
          <a routerLink="/noticias">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>

      <div class="right-notice">
        <img src="../../../assets/banners/cronica2.jpg" alt="" />
        <div class="contenido">
          <span>MARACAIBO 2024</span>
          <a href="/noticiasdos"
            >Maracaibo: un crisol de historia, cultura y tradiciones</a
          >
          <p>
            Maracaibo, la capital del estado Zulia, es un crisol de historia,
            cultura y tradiciones que se reflejan en sus espacios emblemáticos.
            Desde el majestuoso Teatro Baralt ...
          </p>
          <a routerLink="/noticiasdos">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>
    </div>

    <div class="secondary-notice">
      <div class="notice">
        <img src="../../../assets/banners/noticia1.jpg" alt="" />
        <div class="contenido">
          <span>Maracaibo, 5 de octubre de 2024</span>
          <a href="/noticiastres"
            >Comunidades Unidas contra la huella de carbono</a
          >
          <p>
            Comunidades de la parroquia Juana de Avila organizaron una caminata
            saludable de 5 kilómetros que se congregó en la Universidad Dr.
            Rafael Belloso Chacín como una iniciativa saludable en una ....
          </p>
          <a routerLink="/noticiastres">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>
      <div class="notice">
        <img src="../../../assets/banners/noticia2.jpg" alt="" />
        <div class="contenido">
          <span>17 de septiembre de 2024 </span>
          <a href="/noticiascuatro">De Bombonas Vacías a Robots Decorativos</a>
          <p>
            En un ingenioso ejemplo de reciclaje y creatividad, los vecinos del
            barrio La Faria están dando una nueva ...
          </p>
          <a routerLink="/noticiascuatro">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>
      <div class="notice">
        <img src="../../../assets/banners/noticia3.jpg" alt="" />
        <div class="contenido">
          <span>Maracaibo, 17 de septiembre de 2024 </span>
          <a href="/noticiascinco"
            >Niños Scouts: Liderazgo ambiental en la Limpieza del Lago de
            Maracaibo</a
          >
          <p>
            En un esfuerzo ejemplar por preservar el medio ambiente, un grupo de
            jóvenes scouts ha tomado la iniciativa de limpiar las orillas del
            lago de Maracaibo, enfrentando el desafío ...
          </p>
          <a routerLink="/noticiascinco">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>
    </div>
    <div class="secondary-notice">
      <div class="notice">
        <img
          src="../../../assets/imagenesnoticias/one/NOTICIA 1 (1).jpeg"
          alt=""
        />
        <div class="contenido">
          <span>Maracaibo,16 agosto, 2024 </span>
          <a href="/one"
            >Comunidades: Vecinos de Las Salinas estrenan puente peatonal
            rehabilitado
          </a>
          <p>
            Después de casi dos años de tener el puente peatonal intransitable,
            los vecinos de Las Salinas ahora cuentan con una conexión ....
          </p>
          <a routerLink="/one">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>
      <div class="notice">
        <img
          src="../../../assets/imagenesnoticias/two/NOTICIa 2 (1).jpeg"
          alt=""
        />
        <div class="contenido">
          <span>24 septiembre, 2024 </span>
          <a href="/two"
            >Soluciones: Ancianos del hogar La Mano de Dios obtienen la
            reparación de tuberías de gas para un proceso más rápido en la
            preparación de sus comidas
          </a>
          <p>
            Gracias a las adecuaciones realizadas por la Alcaldía de Maracaibo,
            a través del programa Cocinando Seguro, el hogar La Mano de Dios,
            que alberga...
          </p>
          <a routerLink="/two">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>
      <div class="notice">
        <img
          src="../../../assets/imagenesnoticias/three/NOTICIA 3.jpeg"
          alt=""
        />
        <div class="contenido">
          <span>Maracaibo, 25 de octubre, 2024 </span>
          <a href="/three"
            >Parroquia Juana de Ávila lidera jornada de riego de plantas en
            Circunvalación 2 en pro de la sostenibilidad ambiental
          </a>
          <p>
            Esta actividad destaca cómo la colaboración entre estudiantes y
            miembros de la comunidad puede generar un impacto positivo en el
            medio ...
          </p>
          <a routerLink="/three">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>
    </div>
    <div class="secondary-notice">
      <div class="notice">
        <img
          src="../../../assets/imagenesnoticias/four/NOTICIA 4.jpeg"
          alt=""
        />
        <div class="contenido">
          <span>Maracaibo, 25 de octubre, 2024 </span>
          <a href="/four"
            >Iniciativa Verde Promueve la Conciencia Ambiental en la
            Comunidad</a
          >
          <p>
            Recientemente, un grupo de voluntarios y miembros de brigadas
            comunitarias llevó a cabo una jornad....
          </p>
          <a routerLink="/four">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>
      <div class="notice">
        <img src="../../../assets/imagenesnoticias/five/NOTICIA 5.jpg" alt="" />
        <div class="contenido">
          <span>25 de octubre, 2024</span>
          <a href="/five"
            >Jornada de Limpieza en el Lago de Maracaibo Promueve la Conciencia
            Ambiental</a
          >
          <p>
            Voluntarios se unieron a la Fundación Zulia Recicla en una jornada
            de limpieza de las costas del Lago de Maracaibo ...
          </p>
          <a routerLink="/five">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>
      <div class="notice">
        <img src="../../../assets/imagenesnoticias/six/NOTICIA 6.jpeg" alt="" />
        <div class="contenido">
          <span>Maracaibo, 20 de octubre, 2024</span>
          <a href="/six"
            >Capacitación: Proyecto de Reforestación Promueve la Sostenibilidad
            en el Parque Vereda del Lago</a
          >
          <p>
            El pasado 19 de octubre, continuó la capacitación de 60 voluntarios
            en el Proyecto de Reforestación ...
          </p>
          <a routerLink="/six">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>
    </div>

    <div class="secondary-notice">
      <div class="notice">
        <img
          src="../../../assets/imagenesnoticias/reportaje/REPORTAJE 1.png"
          alt=""
        />
        <div class="contenido">
          <span>Categoría: Reportajes </span>
          <a href="/reportaje"
            >Universidades venezolanas: impulso de la sostenibilidad y sustentabilidad en los campus del país</a
          >
          <p>
            La sostenibilidad y la sustentabilidad se han convertido en temas
            esenciales dentro de las instituciones ....
          </p>
          <a routerLink="/reportaje">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>
      <div class="notice">
        <img
          src="../../../assets/imagenesnoticias/seven/NOTICIA 7 (2).jpeg"
          alt=""
        />
        <div class="contenido">
          <span>20 de octubre, 2024</span>
          <a href="/seven"
            >“Rocky”: Un Robot Multifuncional para Cotejos Ambientales en
            Entornos Difíciles</a
          >
          <p>
            Estudiantes de la carrera de Ingeniería Electrónica de la
            Universidad Dr. Rafael Belloso Chacín, han desarrollado un innovador
            robot llamado ...
          </p>
          <a routerLink="/seven">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>
      <div class="notice">
        <img
          src="../../../assets/imagenesnoticias/eight/NOTICIA 8 (1).jpg"
          alt=""
        />
        <div class="contenido">
          <span>Maracaibo, 20 de octubre, 2024</span>
          <a href="/eight"
            >Nuevos Contenedores de Reciclaje Promueven la Sostenibilidad los
            Campus Universitarios del País</a
          >
          <p>
            Con el objetivo de fomentar la conciencia ecológica y la
            sostenibilidad dentro de las comunidades universitarias, se ha
            implementado ...
          </p>
          <a routerLink="/eight">
            <button>MÁS DETALLES</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
