.header-top {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
  
  
    .logo {
      img {
        width: 180px;
        margin-left: 1rem;
      }
    }
    .menu {
      justify-content: space-evenly;
      width: 80%;
      display: flex;
      align-items: center;
      padding: 10px 0;
      font-size: 1.6rem;
  
      a {
        text-decoration: none;
        color: black;
        font-weight: 600;
      }
    }
  }
  .second-menu{
    display: flex;
    align-items: center;
    img{
      width: 35px;
      height: 35px;
      margin-right: 1rem;
    }
  }

  .contenido-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5% 5%;
    margin-top: 3rem;

    .left{
      width: 60%;
      justify-content: center; 
        img{
          width: 100%;
          height: 500px;
          object-fit: contain;
        }
    }

    .imagenes{
      display: flex;
      width: 100%;
    
     video{
        width: 100%;
        height:500px;
     }
    }

    .right {
      width: 25%;
      display: flex;
      flex-direction: column;
    
      h2 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0;  
      }
    
      .related-notices {
        background-color: #604abd;
        padding: 20px 20px 0;  
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    
        .related-notice {
          display: flex;
          align-items: center;
          background-color: #604abd;
          padding: 10px;
          border-radius: 8px;
          margin-bottom: 10px;
    
          img {
            width: 80px; 
            height: auto;
            margin-right: 10px;
          }
    
          .contenido {
            a {
              color: white;
              font-size: 16px;
              font-weight: bold;
              text-decoration: none;
              transition: color 0.3s;
    
              &:hover {
                color: #f1f1f1;
              }
            }
          }
        }
      }
    }
  }