<div class="header">
  <div class="header-top">
    <div class="logo">
      <img src="../../../assets/images/conecta.jpg" alt="" />
    </div>
    <div class="menu">
      <a href="#">Home</a>
      <a href="/sobre-nosotros">Sobre Nosotros</a>
      <a href="/cronicas">Crónicas</a>
      <a href="/contacto">Contacto</a>
      <a href=""
        ><img
          src="../../../assets/icons/search_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg"
          alt=""
      /></a>
    </div>

    <div class="second-menu">
      <a
        href="https://www.instagram.com/conectandorealidades_info?igsh=MXJseWY5c3E3OWo4aQ=="
        target="_blank"
        ><img src="../../../assets/icons/instagram (1).png" alt=""
      /></a>
      <a
        href="https://www.tiktok.com/@conectando.realid?_t=8qci4iZBrOA&_r=1"
        target="_blank"
        ><img src="../../../assets/icons/instagram (2).png" alt=""
      /></a>
      <a href="https://wa.me/584246603778" target="_blank"
        ><img src="../../../assets/icons/instagram (4).png" alt=""
      /></a>
      <a
        href="https://youtube.com/@conectandorealidades?si=Ayg6-A_nIfK-D9y8"
        target="_blank"
        ><img src="../../../assets/icons/instagram (5).png" alt=""
      /></a>
    </div>
  </div>
</div>

<div class="contenido-container">
  <div class="left">
    <!-- Noticia 3 -->
    <img
      src="../../../../assets/imagenesnoticias/six/NOTICIA 6.jpeg"
      alt=""
    />
    <h1>
      Capacitación: Proyecto de Reforestación Promueve la Sostenibilidad en el
      Parque Vereda del Lago
    </h1>
    <p>
      El pasado 19 de octubre, continuó la capacitación de 60 voluntarios en el
      Proyecto de Reforestación, Renaturalización y Mantenimiento de Áreas
      Verdes del Parque Vereda del Lago. Durante esta jornada, los participantes
      asistieron a una charla de inducción impartida por expertos en medio
      ambiente, donde se abordaron temas relacionados con el Cambio Climático y
      su impacto en el ecosistema.
    </p>
    <p>
      La actividad, que duró cuatro horas, permitió a los asistentes profundizar
      en la problemática del cambio climático y aportar ideas significativas
      para sensibilizar e informar a la comunidad sobre la importancia de la
      conservación ambiental. Este esfuerzo tiene como objetivo transformar el
      Parque Vereda del Lago en un espacio recreativo más sostenible y amigable
      con el entorno natural.
    </p>
    <p>
      Los participantes aprendieron sobre las técnicas de reforestación que se
      implementarán y cómo podrán involucrarse en esta importante iniciativa.
      Este tipo de proyectos no solo educan a los jóvenes sobre la importancia
      de cuidar nuestro planeta, sino que también fomentan un sentido de
      responsabilidad y compromiso hacia la naturaleza.
    </p>
    <p>
      La colaboración entre la comunidad y las autoridades locales resalta la
      relevancia de estas iniciativas, que buscan restaurar y preservar el
      ecosistema del parque, promoviendo la sostenibilidad ambiental y la
      participación activa de los ciudadanos.
    </p>


  </div>

  <div class="right">
    <h2>noticias relacionadas</h2>
  </div>
</div>

<app-footer></app-footer>
