<div class="header">
  <div class="header-top">
    <div class="logo">
      <img src="../../../assets/images/conecta.jpg" alt="" />
    </div>
    <div class="menu">
      <a href="#">Home</a>
      <a href="/sobre-nosotros">Sobre Nosotros</a>
      <a href="/cronicas">Crónicas</a>
      <a href="/contacto">Contacto</a>
      <a href=""
        ><img
          src="../../../assets/icons/search_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg"
          alt=""
      /></a>
    </div>

    <div class="second-menu">
      <a
        href="https://www.instagram.com/conectandorealidades_info?igsh=MXJseWY5c3E3OWo4aQ=="
        target="_blank"
        ><img src="../../../assets/icons/instagram (1).png" alt=""
      /></a>
      <a
        href="https://www.tiktok.com/@conectando.realid?_t=8qci4iZBrOA&_r=1"
        target="_blank"
        ><img src="../../../assets/icons/instagram (2).png" alt=""
      /></a>
      <a href="https://wa.me/584246603778" target="_blank"
        ><img src="../../../assets/icons/instagram (4).png" alt=""
      /></a>
      <a
        href="https://youtube.com/@conectandorealidades?si=Ayg6-A_nIfK-D9y8"
        target="_blank"
        ><img src="../../../assets/icons/instagram (5).png" alt=""
      /></a>
    </div>
  </div>
</div>

<div class="contenido-container">
  <div class="left">
    <!-- Noticia 3 -->
    <img
      src="../../../../assets/imagenesnoticias/two/NOTICIa 2 (1).jpeg"
      alt=""
    />
    <h1>
      Soluciones: Ancianos del hogar La Mano de Dios obtienen la reparación de
      tuberías de gas para un proceso más rápido en la preparación de sus
      comidas
    </h1>
    <p>
      Gracias a las adecuaciones realizadas por la Alcaldía de Maracaibo, a
      través del programa Cocinando Seguro, el hogar La Mano de Dios, que
      alberga a 60 adultos mayores, ahora cuenta con un suministro estable de
      gas que permite preparar las comidas de manera eficiente y a tiempo.
    </p>
    <p>
      El personal del ancianato, compuesto por cocineras dedicadas, ha visto
      cómo esta mejora ha transformado su capacidad para atender las necesidades
      nutricionales de los ancianos, quienes requieren una dieta estricta y
      saludable.
    </p>
    <p>
      Antes de estas adecuaciones, la cocina del hogar sufría por la baja
      presión de gas, lo que generaba retrasos en la preparación de las comidas.
      Ahora, con un sistema de gas rehabilitado, los alimentos pueden cocinarse
      a tiempo, lo que ha mejorado el bienestar de los residentes, reduciendo su
      ansiedad por las comidas y garantizando una alimentación adecuada.
    </p>
    <p>
      Este programa solucionó una problemática grave para los adultos mayores
      residentes de este hogar y orientado a mejorar infraestructuras básicas,
      como el suministro de gas, logró tener un impacto positivo en la vida
      diaria de personas vulnerables, como los ancianos. Iniciativas como
      Cocinando Seguro no solo mejoran la calidad de vida, sino que también
      aseguran que las instituciones sociales funcionen de manera óptima.
    </p>

    <div class="imagenes">
      <video [autoplay]="true" [muted]="true" [loop]="true">
        <source
          src="../../../../assets/imagenesnoticias/Noticia3/video_2024-10-15_15-43-04.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </div>

  <div class="right">
    <h2>noticias relacionadas</h2>
  </div>
</div>

<app-footer></app-footer>
