<div class="header">


    <div class="header-top">
        <div class="logo">
            <img src="../../../assets/images/conecta.jpg" alt="">
        </div>
        <div class="menu">
            <a href="#">Home</a>
            <a href="/sobre-nosotros">Sobre Nosotros</a>
            <a href="/cronicas">Crónicas</a>
            <a href="/contacto">Contacto</a>
            <a href=""><img src="../../../assets/icons/search_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg" alt=""></a>
          
        </div>
    
        <div class="second-menu">
          <a href="https://www.instagram.com/conectandorealidades_info?igsh=MXJseWY5c3E3OWo4aQ=="
            target="_blank"><img src="../../../assets/icons/instagram (1).png" alt=""
          /></a>
          <a href="https://www.tiktok.com/@conectando.realid?_t=8qci4iZBrOA&_r=1"
            target="_blank"><img src="../../../assets/icons/instagram (2).png" alt=""
          /></a>
          <a href="https://wa.me/584246603778" target="_blank"
            ><img src="../../../assets/icons/instagram (4).png" alt=""
          /></a>
          <a href="https://youtube.com/@conectandorealidades?si=Ayg6-A_nIfK-D9y8"
             target="_blank"><img src="../../../assets/icons/instagram (5).png" alt=""
          /></a>
        </div>
       
    </div>
    
    </div>
    
    
<div class="contenido-container">
  <div class="left">
    <!-- Noticia 3 -->
    <img src="../../../../assets/imagenesnoticias/Noticia3/IMG_20220925_103759_764.jpg" alt="">
    <h1>
      Niños Scouts: Liderazgo ambiental en la Limpieza del Lago de Maracaibo
    </h1>
    <p>
      En un esfuerzo ejemplar por preservar el medio ambiente, un grupo de
      jóvenes scouts ha tomado la iniciativa de limpiar las orillas del lago de
      Maracaibo, enfrentando el desafío de la acumulación de basura en uno de
      los cuerpos de agua más grandes de Venezuela.
    </p>
    <p>
      Durante el fin de semana, más de 30 niños y adolescentes del Grupo Scout
      “Grupo Scout Ciudadela Faría” se reunieron para llevar a cabo una jornada
      de limpieza que resultó en la recolección de más de una tonelada de
      desechos. Equipados con guantes, bolsas de basura y un fuerte espíritu de
      comunidad, los scouts recorrieron kilómetros parte de las orillas del
      lago, removiendo plásticos, vidrios y otros residuos.
    </p>
    <p>
      Esta acción no solo es para embellecer el paisaje del lago, sino también
      concienciar sobre la importancia de cuidar los recursos naturales. Los
      líderes del grupo scout explicaron que la actividad es parte de un
      proyecto educativo que enseña a los jóvenes la responsabilidad ambiental y
      el impacto de la contaminación en los ecosistemas locales.
    </p>
    <p>
      “Estamos muy orgullosos de ver a nuestros scouts trabajando con tanto
      entusiasmo y dedicación”, comentó Angel Pérez, líder del grupo. “Esta
      actividad no solo mejora nuestro entorno, sino que también inspira a otros
      a hacer lo mismo”.
    </p>
    <p>
      La limpieza del lago es una muestra de cómo la acción comunitaria puede
      generar cambios positivos y resaltar la importancia de involucrarse en la
      protección del medio ambiente para embellecer la ciudad. La iniciativa ha
      recibido elogios de residentes y autoridades locales, quienes han
      prometido apoyar futuros esfuerzos y trabajar en soluciones más amplias
      para la gestión de residuos en la región.
    </p>

    <div class="imagenes">
      <video [autoplay]="true" [muted]="true" [loop]="true">
        <source
          src="../../../../assets/imagenesnoticias/Noticia3/video_2024-10-15_15-43-04.mp4"
          type="video/mp4"
        />
      </video>
    </div>
</div>

<div class="right">
  <h2>noticias relacionadas</h2>
</div>
</div>

<app-footer></app-footer>