body{
    margin: 0;
   ;
}

@font-face {
    font-family: "Barlow";
    src: url("./assets//fonts/BarlowCondensed-Medium.ttf");
}

h1, h2, h3, h4, h5, h6, p, a, button, input, label, span{
    font-family: "Barlow";
}