<app-header></app-header>
<main>
    <div class="container">
      <div class="title">
        <h1>Conectando Realidades</h1>
      </div>
      <div class="principal-notice">
        <div class="left-notice">
          <img
          src="../../../assets/imagenesnoticias/one/NOTICIA 1 (1).jpeg"
          alt=""
        />
          <div class="contenido">
            <span>Maracaibo,16 agosto, 2024</span>
            <a href="/one"
            >Comunidades: Vecinos de Las Salinas estrenan puente peatonal
            rehabilitado
          </a>
          <p>
            Después de casi dos años de tener el puente peatonal intransitable,
            los vecinos de Las Salinas ahora cuentan con una conexión ....
          </p>
          <a routerLink="/one">
            <button>MÁS DETALLES</button>
          </a>
          </div>
        </div>
  
        <div class="right-notice">
          <img src="../../../assets/imagenesnoticias/two/NOTICIa 2 (1).jpeg" alt="" />
          <div class="contenido">
            <span>24 septiembre, 2024 </span>
            <a href="/two"
              >Soluciones: Ancianos del hogar La Mano de Dios obtienen la
              reparación de tuberías de gas para un proceso más rápido en la
              preparación de sus comidas
            </a>
            <p>
              Gracias a las adecuaciones realizadas por la Alcaldía de Maracaibo,
              a través del programa Cocinando Seguro, el hogar La Mano de Dios,
              que alberga...
            </p>
            <a routerLink="/two">
              <button>MÁS DETALLES</button>
            </a>
          </div>
        </div>
      </div>

    </div>
  </main>
  
<app-footer></app-footer>
