<div class="header">
  <div class="header-top">
    <div class="logo">
      <img src="../../../assets/images/conecta.jpg" alt="" />
    </div>
    <div class="menu">
      <a href="#">Home</a>
      <a href="/sobre-nosotros">Sobre Nosotros</a>
      <a href="/cronicas">Crónicas</a>
      <a href="/contacto">Contacto</a>
    
    </div>

    <div class="second-menu">
      <a
        href="https://www.instagram.com/conectandorealidades_info?igsh=MXJseWY5c3E3OWo4aQ=="
        target="_blank"
        ><img src="../../../assets/icons/instagram (1).png" alt=""
      /></a>
      <a
        href="https://www.tiktok.com/@conectando.realid?_t=8qci4iZBrOA&_r=1"
        target="_blank"
        ><img src="../../../assets/icons/instagram (2).png" alt=""
      /></a>
      <a href="https://wa.me/584246603778" target="_blank"
        ><img src="../../../assets/icons/instagram (4).png" alt=""
      /></a>
      <a
        href="https://youtube.com/@conectandorealidades?si=Ayg6-A_nIfK-D9y8"
        target="_blank"
        ><img src="../../../assets/icons/instagram (5).png" alt=""
      /></a>
    </div>
  </div>
</div>

<div class="contenido-container">
  <div class="left">
    <!-- Noticia 3 -->
    <img
      src="../../../../assets/imagenesnoticias/one/NOTICIA 1 (1).jpeg"
      alt=""
    />
    <h1>
      Comunidades: Vecinos de Las Salinas estrenan puente peatonal rehabilitado
    </h1>
    <p>
      Después de casi dos años de tener el puente peatonal intransitable, los
      vecinos de Las Salinas ahora cuentan con una conexión segura gracias a la
      rehabilitación realizada por la Alcaldía de Maracaibo. Este puente,
      ubicado en la parroquia Coquivacoa, era esencial para la movilidad de más
      de 1,000 personas al día, quienes ahora pueden acceder de manera directa y
      segura a la avenida Milagro Norte.
    </p>
    <p>
      El alcalde Rafael Ramírez Colina destacó que esta obra es un ejemplo de la
      importancia de escuchar las necesidades de las comunidades y trabajar para
      mejorar su calidad de vida.
    </p>
    <p>
      El puente, que fue originalmente construido por los mismos vecinos, ha
      sido reparado con nuevas vigas y láminas, garantizando mayor seguridad y
      durabilidad. Además, los trabajos de saneamiento en la cañada Los Caribes
      han ayudado a prevenir futuros problemas de deterioro.
    </p>
    <p>
      Esta noticia demuestra cómo las autoridades locales pueden responder de
      manera efectiva a las demandas de las comunidades al rehabilitar
      infraestructuras esenciales para su movilidad y seguridad. La colaboración
      entre gobierno y ciudadanía es clave para mejorar la calidad de vida en
      áreas vulnerables.
    </p>

    <div class="imagenes">
      <img src="../../../../assets/imagenesnoticias/one/NOTICIA 1 (2).jpeg" alt="">
      <img src="../../../../assets/imagenesnoticias/one/NOTICIA 1 (3).jpeg" alt="">
    </div>
  </div>

  <div class="right">
    <h2>Noticias relacionadas</h2>
    <div class="related-notices">
      <div class="related-notice">
        <img src="../../../assets/banners/noticia1.jpg" alt="" />
        <div class="contenido">
          <a href="/noticiastres">Comunidades Unidas contra la huella de carbono</a>
        </div>
      </div>
      <div class="related-notice">
        <img src="../../../assets/imagenesnoticias/one/NOTICIA 1 (1).jpeg" alt="" />
        <div class="contenido">
          <a href="/one">Comunidades: Vecinos de Las Salinas estrenan puente peatonal rehabilitado</a>
        </div>
      </div>
      <div class="related-notice">
        <img src="../../../assets/imagenesnoticias/two/NOTICIa 2 (1).jpeg" alt="" />
        <div class="contenido">
          <a href="/two">Soluciones: Ancianos del hogar La Mano de Dios obtienen la reparación de tuberías de gas</a>
        </div>
      </div>
      <div class="related-notice">
        <img src="../../../assets/imagenesnoticias/three/NOTICIA 3.jpeg" alt="" />
        <div class="contenido">
          <a href="/three">Parroquia Juana de Ávila lidera jornada de riego de plantas</a>
        </div>
      </div>
      <div class="related-notice">
        <img src="../../../assets/imagenesnoticias/four/NOTICIA 4.jpeg" alt="" />
        <div class="contenido">
          <a href="/four">Iniciativa Verde Promueve la Conciencia Ambiental en la Comunidad</a>
        </div>
      </div>
    </div>
  </div>
  
</div>

<app-footer></app-footer>
