<div class="header">


    <div class="header-top">
        <div class="logo">
            <img src="../../../assets/images/conecta.jpg" alt="">
        </div>
        <div class="menu">
          <a href="#">Home</a>
          <a href="/sobre-nosotros">Sobre Nosotros</a>
          <a href="/cronicas">Crónicas</a>
          <a href="/contacto">Contacto</a>
          <a href=""><img src="../../../assets/icons/search_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg" alt=""></a>
        
      </div>
    
      <div class="second-menu">
        <a href="https://www.instagram.com/conectandorealidades_info?igsh=MXJseWY5c3E3OWo4aQ=="
          target="_blank"><img src="../../../assets/icons/instagram (1).png" alt=""
        /></a>
        <a href="https://www.tiktok.com/@conectando.realid?_t=8qci4iZBrOA&_r=1"
          target="_blank"><img src="../../../assets/icons/instagram (2).png" alt=""
        /></a>
        <a href="https://wa.me/584246603778" target="_blank"
          ><img src="../../../assets/icons/instagram (4).png" alt=""
        /></a>
        <a href="https://youtube.com/@conectandorealidades?si=Ayg6-A_nIfK-D9y8"
           target="_blank"><img src="../../../assets/icons/instagram (5).png" alt=""
        /></a>
      </div>
       
    </div>
    
    </div>
    
    

<div class="contenido-container">
  <div class="left">
    <!-- Noticia 2 -->
     <img src="../../../../assets/banners/noticia2.jpg" alt="">
    <h1>De Bombonas Vacías a Robots Decorativos</h1>
    <p>
      17 de septiembre de 2024 – En un ingenioso ejemplo de reciclaje y
      creatividad, los vecinos del barrio La Faria están dando una nueva vida a
      las bombonas vacías de gas para aire acondicionado, transformándolas en
      llamativos robots decorativos que adornan las calles del vecindario.
    </p>
    <p>
      La iniciativa comenzó hace unos meses cuando un grupo de residentes,
      decidieron buscar una manera innovadora de reutilizar las bombonas, que a
      menudo se acumulaban sin uso. Utilizando materiales reciclados y técnicas
      de bricolaje, los vecinos han creado una serie de robots coloridos y
      únicos que ahora embellecen el entorno urbano. Cada robot está elaborado a
      partir de bombonas recicladas, y se decoran con pinturas brillantes y
      elementos decorativos
    </p>
    <p>
      “Lo que comenzó como una pequeña idea se ha convertido en un proyecto que
      ha unido al barrio”, comentó un vecino del sector. “Estamos muy contentos
      de ver cómo estas bombonas, que de otro modo serían desechadas, se
      transforman en arte que aporta alegría a todos”.
    </p>
    <p>
      La creación de estos robots también ha ayudado a promover el reciclaje y
      la conciencia ambiental para una vida mucho más sustentable en La Faria.
      Los residentes han aprendido a valorar el potencial de los materiales
      reciclados y a entender la importancia de reducir la cantidad de desechos
      y cómo usarlos de forma creativa.
    </p>
    <p>
      El proyecto ha sido bien recibido por la comunidad y ha atraído la
      atención de medios locales, así como de visitantes que vienen al barrio
      para admirar las coloridas instalaciones. Las autoridades locales han
      mostrado su apoyo, prometiendo ayudar a expandir el proyecto y a ofrecer
      más recursos para iniciativas similares en el futuro.
    </p>
    <p>
      La iniciativa de los vecinos de La Faria demuestra cómo la creatividad y
      el compromiso comunitario pueden transformar desafíos ambientales en
      oportunidades para la innovación y el embellecimiento urbano, demostrando
      que de algo que puede parecer obsoleto, se puede obtener algo maravilloso.
    </p>

</div>
<div class="right">
  <h2>noticias relacionadas</h2>
</div>

</div>
<app-footer></app-footer>
